extends layout

block content

  form.pure-form(action="/login" method="post")
    h1 Please sign in

    .form-group
      label(for="username") number
      input(type="text" id="username" name="username" placeholder="533 025 853" required autofocus)
    .form-group
      label(for="password") Password
      input(type="password" id="password" name="password" required)

    button.pure-button.pure-button-primary(type="submit") Login
    p
      a(href="/register") or register